.checkout {
  position: absolute;
  top: 120%;
  right: 0;
  width: 412px;
  max-height: 910px;
  color: white;
  border-top: 1px solid #ffffff;
  background-color: #17182e;
  font-size: 14px;
  z-index: 3;

  @include mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    font-size: 24px;
    padding: 60px;
  }

  &::before {
    display: block;
    content: "";
    width: 2px;
    z-index: 4;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    display: block;
    content: "";
    width: 2px;
    z-index: 4;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__desktop {
    @include mobile {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70vh;
    }
  }

  &__cross {
    @include input-reset;
  }

  &__cross-icon {
    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &__dialog {
    position: absolute;
    top: -8.5%;
    right: 15%;
    width: 10px;
    height: 10px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    transform: rotate(45deg);
    background-color: #17182e;
    z-index: 4;

    @include mobile {
      display: none;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    font-size: 16px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @include mobile {
      display: none;
    }
  }

  &__cross {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  &__no-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    @include mobile {
      margin-top: 100px;
    }
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border: 1px solid #c4c4c4;
    margin-left: 16px;
    margin-right: 13px;
    cursor: pointer;
  }

  &__checkbox {
    width: 8px;
    height: 6px;
  }

  &__remember {
    font-size: 10px;
  }

  &__input-form {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 2px 0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      //font-size: 24px;
    }
  }

  &__text-input:focus-within {
    border: 1px solid $color-block;
  }

  &__input-wrapper {
    position: relative;
    padding-left: 10px;
    margin-right: 13px;
    margin-bottom: 15px;
    background-color: #0e0f25;

    @include border-dots;

    @include mobile {
      width: 340px;
      height: 80px;
      padding-left: 30px;
    }
  }

  &__input {
    border: none;
    height: 30px;
    background-color: #0e0f25;
    outline: none;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;

    @include mobile {
      width: 340px;
      height: 80px;
      font-size: 24px;
    }
  }

  &__billing-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__stage-indicator {
    display: none;


    @include mobile {
      display: flex;
      position: relative;
      left: 41%;
      font-family: Exo;
      font-size: 48px;
      color: #ffffff;
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }

  &__stage {
    @include mobile {
      margin-right: 86px;
    }
  }
}

.move-left {
  left: 15%;
}

.move-left-50 {
  left: -50%;
}

.inactive {
  @include mobile {
    opacity: 0.3;
  }
}

.start {
  justify-content: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.medium {
  flex: 1;
}

.full {
  flex-basis: 100%;
}

.input-width {
  width: 350px;

  @include mobile {
    width: 500px;
  }
}

.payment-method-height {
  max-height: 295px;
}
