.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 14px 14px;

  &__buttons-wrapper {
    display: flex;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__button {
    position: relative;
    width: 87px;
    height: 33px;
    background-color: #0b0c23;
    border: none;
    color: #ffffff;
    margin-right: 14px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    outline: none;

    @include border-dots;

    @include mobile {
      width: 340px;
      height: 80px;
      font-size: 24px;
      margin-right: 0;
      background-color: rgba(27, 27, 103, 0.8);

      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }

  &__delete-button-mobile {
    display: none;

    @include mobile {
      @include input-reset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background-color: rgba(27, 27, 103, 0.8);
    }
  }

  &__trash {
    @include mobile {
      width: 24px;
      height: 30px;
    }
  }

  &__price-mobile {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 228px;
      height: 80px;
      background: rgba(255, 255, 255, 0.05);
      @include border-dots;
    }
  }

  &__dollar {
    @include mobile {
      &::before {
        content: "$";
      }
    }
  }

  &__sigma {
    width: 10px;
    height: 12px;
    margin-right: 15px;
  }

  &__sum {
    @include mobile {
      display: none;
    }
  }

  &__buttons-wrapper-mobile {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.buy {
  background-color: #1b1b67;

  &::after {
    content: none;
  }
  &::before {
    content: none;
  }
}
