.item {
  display: flex;

  &__info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__count {
    @include mobile {
      margin: 0 25px;
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin: 6px 14px 6px 0;
    background-color: #0b0c23;

    @include border-dots;

    @include mobile {
      width: 120px;
      height: 120px;
    }
  }

  &__image {
    max-width: 35px;
    max-height: 27px;

    @include mobile {
      display: none;
    }
  }

  &__image-mobile {
    display: none;

    @include mobile {
      display: block;
      max-width: 50px;
      max-height: 44px;
    }
  }

  &__delete-item-mobile {
    display: none;

    @include mobile {
      @include input-reset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: rgb(27, 27, 103);
      position: absolute;
      left: 75%;
    }
  }

  &__trash {
    @include mobile {
      width: 14px;
      height: 17px;
    }
  }

  &__amount-and-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__amount-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__arrow-wrapper-mobile {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: rgb(27, 27, 103);
    }
  }

  &__arrow-left {
    width: 12px;
    transform: rotate(90deg);
    cursor: pointer;

    @include mobile {
      width: 22px;
      height: 15px;
    }
  }

  &__arrow-right {
    width: 12px;
    transform: rotate(-90deg);
    cursor: pointer;

    @include mobile {
      width: 22px;
      height: 15px;
    }
  }

  &__price {
    &::before {
      content: "$";
    }

    @include mobile {
      display: none;
    }
  }

  &__blurred-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(
      0deg,
      rgba(11, 12, 35, 0.8),
      rgba(11, 12, 35, 0.8)
    );
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);

    @include mobile {
      display: none;
    }
  }

  &__trash-icon {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 7px);
    width: 14px;
    height: 16px;
    cursor: pointer;

    @include mobile {
      display: none;
    }
  }

  &__description-mobile {
    @include mobile {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      padding-left: 60px;
    }
  }

  &__total-price-mobile {
    display: none;

    @include mobile {
      font-size: 40px;
      font-weight: bold;
      margin-top: 8px;

      &::before {
        content: "$";
      }
    }
  }

  &__main-spec {
    @include mobile {
      display: none;
    }
  }

  &__main-spec-mobile {
    display: none;

    @include mobile {
      display: inline;
      font-weight: 300;
    }
  }
}

.no-border {
  border-bottom: none;
}
