.list {
  padding: 6px 14px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  max-height: 780px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.border-bottom {
  border-bottom: 1px solid #c4c4c4;
}

.billing-stage-height {
  max-height: 400px;
}
