.payment {
  display: flex;
  flex-wrap: wrap;

  &__method {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    background-color: #0e0f25;
    margin: 0 11px 15px 0;
    cursor: pointer;

    @include border-dots;

    @include mobile {
      width: 409px;
      height: 409px;
    }
  }

  &__icon {
    width: 60px;

    @include mobile {
      width: 140px;
    }
  }

  &__visa {
    width: 45px;
  }
}
