.success {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;

  &__message {
    width: 350px;
    text-align: center;

    @include mobile {
      width: 500px;
      font-size: 40px;
    }
  }

  &__order {
    color: #00a651;
  }

  &__support {
    color: #fcd501;
    text-decoration: underline;
    cursor: pointer;
  }
}
