.footer {
  display: flex;

  margin-top: 74px;
  padding-bottom: 30px;

  @include mobile {
    display: none;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: auto;
  }

  &__rating-value {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-right: 14px;
  }

  &__comment-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__comment {
    @include common-font;
  }

  &__rating-wrapper {
    display: flex;
  }

  &__stars {
    height: 9px;
    align-self: center;
    margin-right: 7px;
  }

  &__author {
    @include common-font;
    font-size: 10px;
  }

  &__sm-links {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $color-block;
    margin-right: 15px;
    @include border-dots;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link-icon {
    object-fit: contain;
    max-width: 18px;
    max-height: 15px;
  }

  &__awards {
    display: flex;
    flex: 1;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
  }

  &__awards-img {
    height: 22px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
