* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-back;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.fixed-container {
  width: 1380px;
  margin: 0 auto;
  @include tablet {
    max-width: 964px;
  }

  @include mobile {
    max-width: 768px;
  }
}
.container {
  margin: 0 auto;
  display: flex;
}

.main {
  display: flex;
}

.border-dots-input {
  width: 100%;
  display: inline-block;
  position: relative;
  @include border-dots;
}

.border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include hover-border;
}
