@mixin common-font {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #c4c4c4;
}

@mixin title-font {
  font-family: "Exo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

@mixin product-font {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #c4c4c4;
}

@mixin input-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@mixin pseudo-element($element, $position) {
  &::#{$element} {
    display: block;
    content: "";
    width: 2px;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    position: absolute;
    top: 0;
    #{$position}: 0;
  }
}

@mixin border-dots {
  @include pseudo-element("before", "left");
  @include pseudo-element("after", "right");
}

@mixin hover-color {
  &:hover {
    background-color: $color-block-target;
  }
}

@mixin hover-border {
  &:hover {
    border: 1px solid $color-block;
  }
}

@mixin filters-hover {
  &:hover {
    background-color: $color-block-target;
    border: 1px solid $color-block;
  }
}

@mixin tablet {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile-mini {
  @media (max-width: 768px) {
    @content;
  }
}
