.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  &__cross {
    @include input-reset;
    margin-bottom: 120px;
    cursor: pointer;
  }

  &__cross-icon {
    width: 14px;
    height: 14px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    margin: 60px 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__dots {
    width: 10px;
    height: 2px;
  }
}
