.burger {
  cursor: pointer;

  font-family: "Exo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  color: #ffffff;

  display: flex;
  flex-direction: column;

  transform: rotate(45deg);

  &::before {
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  &::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  @include input-reset;
  &__text {
    display: flex;
    flex-direction: column;

    margin: 4px 0;
  }
}

.burger-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
