.logo-img {
  height: 21px;
  align-self: start;
  margin-right: 28px;

  @include mobile {
    margin-right: 0;
    margin-top: 4px;
    height: 30px;
  }
}

.menu-icon {
  height: 32px;
}

.header {
  padding-top: 30px;
  margin-bottom: 115px;
  position: relative;

  @include mobile {
    margin-top: 30px;
    margin-bottom: 85px;
  }

  &__desktop {
    display: flex;
    position: relative;

    @include mobile {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include mobile {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
  }



  &__props-left {
    display: flex;
    flex: 1;
    justify-self: flex-end;
    margin-right: auto;
  }

  &__props {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.header-dots {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 5px;

  @include mobile {
    display: none;
  }

  &__center {
    width: 2px;
    height: 2px;
    background-color: #dadada;
    margin: 2px 0;
  }

  &::before {
    display: inline-block;
    content: "";
    width: 2px;
    height: 2px;
    background-color: #dadada;
  }

  &::after {
    display: inline-block;
    content: "";
    width: 2px;
    height: 2px;
    background-color: #dadada;
  }
}
