.langs-selector {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 17px;
  }
  &__name {
    margin-right: 10px;
    cursor: pointer;
  }
}
