.prop {
  @include input-reset;
  padding-left: 15px;
  margin-right: 15px;
  position: relative;

  justify-self: end;

  &__icon {
    height: 20px;

    @include mobile {
      height: 32px;
    }
  }

  &__counter {
    margin-right: 15px;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;

    @include mobile {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
}

.cart {
  @include input-reset;
  padding-left: 15px;
  position: relative;

  justify-self: end;
}
