.user-account-btn {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-right: 15px;

  display: flex;
  align-items: center;

  @include input-reset;
  &__icon {
    height: 20px;
    margin-right: 10px;
  }

  &__arrow {
    width: 13px;
    margin-left: 10px;
  }
}
