.on-sale {
  margin-left: 30px;
  width: 500px;

  @include tablet {
    width: 30vw;
  }

  @include mobile {
    overflow: hidden;
    width: 768px;
    margin-left: 17px;
  }

  &__menu {
    display: none;

    @include mobile {
      position: relative;
      left: 38%;
      font-family: Exo;
      font-size: 48px;
      color: #ffffff;
      margin-bottom: 80px;
    }
  }

  &__menu-item {
    @include mobile {
      margin-right: 86px;
    }
  }

  .inactive {
    @include mobile {
      opacity: 0.3;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: none;
    }
  }
  &__title {
    @include title-font;
    margin-bottom: 20px;
  }

  &__view {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    margin-right: 33px;
  }

  &__text {
    align-self: center;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
  }

  &__btn {
    @include input-reset;
    cursor: pointer;
    margin-left: 15px;
    align-self: center;
  }

  &__grid-img {
    height: 12px;
  }

  &__column-img {
    height: 12px;
  }

  &__scroll-bar {
    width: 100%;
    height: 710px;
    overflow-y: scroll;
    overflow-x: hidden;

    @include mobile {
      height: auto;
    }
  }
}

.product-list {
  width: 460px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
  }
}
