.product {
  width: 214px;
  height: 214px;
  padding: 15px;
  margin-bottom: 30px;
  user-select: none;
  cursor: pointer;

  background-color: $color-block;

  display: flex;
  flex-direction: column;
  position: relative;

  @include border-dots;

  @include mobile {
    width: 75vw;
    height: 75vw;
    padding: 58px;
  }

  &__title {
    @include product-font;
    z-index: 1;

    @include mobile {
      font-size: 24px;
    }
  }

  &__spec {
    @include product-font;
    margin-bottom: 10px;
    z-index: 1;

    @include mobile {
      font-size: 24px;
    }
  }

  &__img-wrapper {
    width: 143px;
    height: 114px;
    margin: auto;

    @include mobile {
      width: 37.5vw;
      height: 37.5vw;
    }
  }
  &__img {
    object-fit: contain;
    max-width: 144px;
    max-height: 114px;
    align-self: center;

    @include mobile {
      max-width: 37vw;
      max-height: 37vw;
    }
  }

  &__open-arrow {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      top: 50%;
      right: 72px;
      transform: rotate(180deg);
      height: 20px;
    }
  }

  &__props {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__props {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price-wrapper {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;

    @include mobile {
      font-size: 46px;
    }
  }

  &__price {
    &::before {
      content: "$";
    }
  }

  &__previous-price {
    &::before {
      content: "$";
    }

    @include product-font;
    text-decoration: line-through;
    margin-left: 12px;
  }

  &__pre-order {
    @include product-font;
    font-size: 10px;
    margin-left: 12px;
  }

  &__psu {
    font-size: 10px;
    font-weight: 400;
    color: #00a651;

    @include mobile {
      font-size: 24px;
    }
  }

  &__favorite {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 14px;
    right: 14px;

    @include mobile {
      width: 40px;
      height: 40px;
      top: 40px;
      right: 40px;
    }
  }

  &__select {
    @include input-reset;
    width: 100%;
    height: 30px;
    position: relative;
    padding-left: 10px;
    background-color: $color-back;
    border: 1px solid $color-block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    @include border-dots;
    @include common-font;
  }

  &__border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $color-block;
  }
}

.blur {
  filter: blur(10px);
}

.hover-wrapper {
  width: 100%;

  padding: 0 14px;
  z-index: 1;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.blurred-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(
    0deg,
    rgba(11, 12, 35, 0.8),
    rgba(11, 12, 35, 0.8)
  );
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
}

.product-btns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.details-btn {
  @include input-reset;
  @include common-font;
  cursor: pointer;
  width: 85px;
  height: 30px;
  background-color: #1b1b67;
}

.cart-add-btn {
  @include input-reset;
  @include common-font;
  cursor: pointer;
  width: 85px;
  height: 30px;
  background-color: $color-back;
  position: relative;
  @include border-dots;
}

.props-hover {
  margin-bottom: 15px;
}

.icon-hover-mobile {
  @include mobile {
    position: relative;
    right: 60%;
  }
}

.blur-mobile {
  @include mobile {
    right: 60%;
  }
}

.hover-wrapper-mobile {
  @include mobile {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #0b0c23;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.price-wrapper-mobile {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
}
.select-mobile {
  @include mobile {
    height: 80px;
    font-size: 24px;
  }
}

.product-btns-wrapper-mobile {
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.btn-mobile {
  @include mobile {
    width: 100%;
    height: 80px;
    font-size: 24px;
    background-color: rgba(27, 27, 103, 0.8);
    margin-top: 60px;
    margin-bottom: 28px;

    &::before {
      content: none;
    }
    &::after {
      content: none;
    }

    &:last-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.psu-mobile {
  @include mobile {
    display: none;
  }
}
