.filters {
  width: 245px;

  @include mobile {
    display: none;
  }

  @include common-font;
  user-select: none;

  display: flex;
  flex-direction: column;

  &__scroll-bar {
    width: 100%;
    height: 710px;
    overflow-y: scroll;
  }

  &__title {
    @include title-font;
    margin-bottom: 20px;
  }

  &__list {
    width: 212px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 18px;
  background-image: url("https://www.ceraland.ru/upload/iblock/116/a0024446.jpg");
  background-repeat: repeat-y;
  background-size: 1px;
  background-position: 50% 0;

  @include mobile {
    display: none;
  }
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;

  background-image: -webkit-linear-gradient(#ffffff 97%, $color-back 3%);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
