.input-text {
  @include input-reset;
  color: #ffffff;
  padding: 10px;
}

.input-text::-webkit-input-placeholder {
  @include common-font;
}
.input-text::-moz-placeholder {
  @include common-font;
}

.input-wrapper {
  margin-bottom: 15px;
  background-color: $color-block;
  position: relative;
  display: flex;
  align-items: center;
  width: 212px;
  height: 30px;
  @include border-dots;
}
