.options-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px;
}

.filter-option {
  width: 98px;
  height: 30px;
  background-color: $color-block;
  margin-top: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include hover-color;
  @include border-dots;
}

.filter-img-option {
  width: 60px;
  height: 80px;
  background-color: $color-block;
  display: flex;
  position: relative;
  margin-top: 17px;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @include hover-color;
  @include border-dots;

  &__icon {
    width: 30px;
    height: 30px;
  }
}
