.section {
  margin-bottom: 15px;
  position: relative;

  &__title {
    width: 212px;
    height: 30px;
    position: relative;
    background-color: $color-block;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    padding: 10px;
    @include border-dots;
    @include hover-color;
  }
}

.arrowIcon {
  width: 13px;
  position: absolute;
  right: 10px;
}

.opened {
  transform: rotate(180deg);
  filter: brightness(200%);
}
