.news {
  margin-left: 30px;

  @include mobile {
    display: none;
  }

  &__title {
    @include title-font;
    margin-bottom: 20px;
  }

  &__column {
    width: 209px;
    height: 700px;
    position: relative;
    background-color: $color-block;
    @include border-dots;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 15px 15px 15px;
  }

  &__icon {
    width: 110px;
    margin-bottom: 65px;
  }

  &__main-link {
    margin-bottom: 35px;
    @include title-font;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    @include common-font;
    font-size: 12px;
    margin-bottom: 13px;
  }

  &__img {
    width: 150px;
  }
}

.links-wrapper {
  margin-bottom: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links-wrapper :last-child {
  margin-bottom: 0;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: flex-end;
}

.checkbox {
  margin-top: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
  }

  &__wrapper-absolute {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &__dot {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
  }
}
